@page "/"
@using myCleanArchitecture.Shared.FeatureModels.Products
@using myCleanArchitecture.UI.Services
@inject IProductService _productService;

<PageTitle>Home</PageTitle>

<h1>Products</h1>

@if (productDtos is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">StockQuantity</th>
                <th scope="col">Category</th>
            </tr>
        </thead>
        <tbody>
            @{
                int rowNo = 0;
            }
            @foreach (var item in productDtos)
            {
                <tr>
                    <td scope="row">@(++rowNo)</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Price</td>
                    <td>@item.StockQuantity</td>
                    <td>@item?.Category?.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>Product is null</h3>
}



@code {
    private List<ProductDto>? productDtos;

    protected override async Task OnInitializedAsync()
    {
        var res = await _productService.GetAll();
        if (res.Meta.IsSuccess)
            productDtos = res.Entities;
    }
}